.calendar {
  .holiday
  {
      background-color: orange;
  }

  .away
  {
      background-color: lightpink;
  }

  .lecture
  {
      background-color: lightsalmon;
  }

  .section
  {
      background-color: lightblue;
  }

  .assignment
  {
      background-color: lightgreen;
  }

  .major
  {
      background-color: lavender;
  }

  .officehour
  {
      background-color: lightgoldenrodyellow;
  }
}

.thumbnailBox
{
    height: 150px;
    margin-bottom: 10px;
}

.projectThumbnail
{
    max-width: 150px;
    max-height: 150px;
    border: 1px solid gray;
}
