body {
  font-family: 'Roboto', sans-serif;
  color: #003F87;
}

h1 {
  font-size: 48px;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, a.list-group-item, button.list-group-item{
  color: #003F87;
}

.navbar-default a:hover {
  color: inherit!important;
  font-weight: bold;
}


#front, .navbar-default {
  background-color: #96CDCD;
  border-color: #96CDCD;
  color: #003F87;
}

#front, #overview, #team, #video, #prototype, #documents {
  padding-top: 100px;
  padding-bottom: 100px;
}

#front img {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#video, #team {
  background-color: rgba(211, 211, 211, 0.3);
}

#video .embed-responsive {
  margin-top: 30px;
}

.list-group-item {
  display: inline-block;
  margin-right: 25px;
}

.embed-responsive-prototype {
  padding-bottom: 212.33%;
}

.mockup {
  margin-bottom: 30px;
}

.bio {
  margin-top: 30px;
}

.bio .img-circle {
  margin-bottom: 10px;
  width: 100%;
}

.bio h3 {
  display: inline;
  vertical-align: middle;
}

.bio .linkedin {
  margin-left: 4px;
}

.bio .linkedin img {
  width: 18px;
}

.btn-default {
  background-color: #003F87;
  border-color: #003F87;
}

.btn-default a {
  color: white;
}

.btn-default a:hover {
  text-decoration: none;
}

.btn-default:hover {
  background-color: #00336d !important;
  border-color: #00336d !important;
}

.mockup img {
  width: 100%;
}

.container > h2:first-child {
  margin-top: 0;
}

#documents .list-group {
  margin-top: 30px;
  margin-bottom: 0;
}
